/* Universal Styling */
body {
    background: var(--background);
    color: var(--text);
}

.list-group-item {
    background: var(--listBackground);
    color: var(--listColor);
}

.theme {
    margin-top: 15px;
    margin-left: 15px;
    float:left;
}

h1 {
    font-size: 150px;
    color: white
}

.navbar-brand {
    color: black;
    margin-left: -2rem;
    padding-left: 0;
}

/* Icon Styling */
.add-icon {
    margin-bottom: 1rem;
    cursor: pointer;
}

.note-icon {
    margin-right: 1rem;
}

.trash-icon {
    float: right;
    margin-right: .5rem;
    cursor: pointer;
}

.checkbox-label {
    margin-left: 1rem;
}

/* Container Styling */
.app-container {
    padding: 25px;
}

.notes-container {
    max-width: 700px;
}

.main-container {
    min-height: 70vh;
    margin-bottom: 35px;
}

.container .row {
    outline: solid 1px white;
}

/* Buttons */
.remove-btn {
    margin-right: 0.5rem;
}

/* Fade transition */
.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
    background-color: red;
}

.fade-enter-exit {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}